@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0a1128;
  background: linear-gradient(top to bottom, #0a1128 0%, #001f54 100%);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  font-size: 10px !important;
}

header {
  padding: 4%;
}
header h1 {
  color: #A5D8FF;
  font-size: 4rem;
  font-weight: 900;
}
header h2 {
  font-weight: 600;
  color: #A5D8FF;
}

main {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 5%;
  padding: 4%;
}
main section {
  background-color: rgba(0, 31, 84, 0.5);
  border-radius: 1rem;
  padding: 1%;
  width: 30%;
  max-width: 30%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
main section div#alert {
  color: red;
}
main section figure {
  width: 100%;
  max-width: 100%;
}
main section figure img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}
main section div.content {
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 100%;
}
main section div.content > div {
  width: 100%;
  max-width: 100%;
}
main section div.content > div:nth-of-type(1) h2 {
  font-size: 1.5rem;
  font-weight: 600;
}
main section div.content > div:nth-of-type(2) p {
  font-size: 1.2rem;
  font-size: 300;
}
main section div.content > div:nth-of-type(3) p {
  font-size: 1.2rem;
  font-size: 300;
}
main section div.content > div:last-of-type {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
main section div.content > div:last-of-type a {
  padding: 4%;
  border-radius: 1.2rem;
  background-color: #034078;
  color: #A5D8FF;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 300px) and (max-height: 300px) {
  html {
    font-size: 12px !important;
  }

  main section {
    width: 90%;
    max-width: 90%;
  }
}
@media screen and (max-width: 300px) and (min-height: 301px) and (max-height: 500px) {
  html {
    font-size: 12px !important;
  }

  main section {
    width: 90%;
    max-width: 90%;
  }
}
@media screen and (max-width: 300px) and (min-height: 501px) and (max-height: 700px) {
  html {
    font-size: 12px !important;
  }

  main section {
    width: 90%;
    max-width: 90%;
  }
}
@media screen and (max-width: 300px) and (min-height: 701px) and (max-height: 900px) {
  html {
    font-size: 12px !important;
  }

  main section {
    width: 90%;
    max-width: 90%;
  }
}
@media screen and (max-width: 300px) and (min-height: 901px) {
  html {
    font-size: 12px !important;
  }

  main section {
    width: 90%;
    max-width: 90%;
  }
}
@media screen and (min-width: 301px) and (max-width: 500px) and (max-height: 300px) {
  html {
    font-size: 12px !important;
  }

  main section {
    width: 90%;
    max-width: 90%;
  }
}
@media screen and (min-width: 301px) and (max-width: 500px) and (min-height: 301px) and (max-height: 500px) {
  html {
    font-size: 12px !important;
  }

  main section {
    width: 90%;
    max-width: 90%;
  }
}
@media screen and (min-width: 301px) and (max-width: 500px) and (min-height: 501px) and (max-height: 700px) {
  html {
    font-size: 12px !important;
  }

  main section {
    width: 90%;
    max-width: 90%;
  }
}
@media screen and (min-width: 301px) and (max-width: 500px) and (min-height: 701px) and (max-height: 900px) {
  html {
    font-size: 12px !important;
  }

  main section {
    width: 90%;
    max-width: 90%;
  }
}
@media screen and (min-width: 301px) and (max-width: 500px) and (min-height: 901px) {
  html {
    font-size: 12px !important;
  }

  main section {
    width: 90%;
    max-width: 90%;
  }
}
@media screen and (min-width: 501px) and (max-width: 700px) and (max-height: 300px) {
  html {
    font-size: 12px !important;
  }

  main section {
    width: 80%;
    max-width: 80%;
  }
}
@media screen and (min-width: 501px) and (max-width: 700px) and (min-height: 301px) and (max-height: 500px) {
  html {
    font-size: 12px !important;
  }

  main section {
    width: 80%;
    max-width: 80%;
  }
}
@media screen and (min-width: 501px) and (max-width: 700px) and (min-height: 501px) and (max-height: 700px) {
  html {
    font-size: 12px !important;
  }

  main section {
    width: 80%;
    max-width: 80%;
  }
}
@media screen and (min-width: 501px) and (max-width: 700px) and (min-height: 701px) and (max-height: 900px) {
  html {
    font-size: 12px !important;
  }

  main section {
    width: 80%;
    max-width: 80%;
  }
}
@media screen and (min-width: 501px) and (max-width: 700px) and (min-height: 901px) {
  html {
    font-size: 12px !important;
  }

  main section {
    width: 80%;
    max-width: 80%;
  }
}
@media screen and (min-width: 701px) and (max-width: 900px) and (max-height: 300px) {
  html {
    font-size: 12px !important;
  }

  main section {
    width: 40%;
    max-width: 40%;
  }
}
@media screen and (min-width: 701px) and (max-width: 900px) and (min-height: 301px) and (max-height: 500px) {
  html {
    font-size: 12px !important;
  }

  main section {
    width: 40%;
    max-width: 40%;
  }
}
@media screen and (min-width: 701px) and (max-width: 900px) and (min-height: 501px) and (max-height: 700px) {
  html {
    font-size: 12px !important;
  }

  main section {
    width: 40%;
    max-width: 40%;
  }
}
@media screen and (min-width: 701px) and (max-width: 900px) and (min-height: 701px) and (max-height: 900px) {
  html {
    font-size: 12px !important;
  }

  main section {
    width: 40%;
    max-width: 40%;
  }
}
@media screen and (min-width: 701px) and (max-width: 900px) and (min-height: 901px) {
  html {
    font-size: 12px !important;
  }

  main section {
    width: 40%;
    max-width: 40%;
  }
}
@media screen and (min-width: 901px) and (max-width: 1100px) and (max-height: 300px) {
  html {
    font-size: 12px !important;
  }

  main section {
    width: 40%;
    max-width: 40%;
  }
}
@media screen and (min-width: 901px) and (max-width: 1100px) and (min-height: 301px) and (max-height: 500px) {
  html {
    font-size: 12px !important;
  }

  main section {
    width: 40%;
    max-width: 40%;
  }
}
@media screen and (min-width: 901px) and (max-width: 1100px) and (min-height: 501px) and (max-height: 700px) {
  html {
    font-size: 12px !important;
  }

  main section {
    width: 40%;
    max-width: 40%;
  }
}
@media screen and (min-width: 901px) and (max-width: 1100px) and (min-height: 701px) and (max-height: 900px) {
  html {
    font-size: 12px !important;
  }

  main section {
    width: 40%;
    max-width: 40%;
  }
}
@media screen and (min-width: 901px) and (max-width: 1100px) and (min-height: 901px) {
  html {
    font-size: 12px !important;
  }

  main section {
    width: 40%;
    max-width: 40%;
  }
}
@media screen and (min-width: 1101px) and (max-width: 1300px) and (max-height: 300px) {
  html {
    font-size: 13px !important;
  }
}
@media screen and (min-width: 1101px) and (max-width: 1300px) and (min-height: 301px) and (max-height: 500px) {
  html {
    font-size: 13px !important;
  }
}
@media screen and (min-width: 1101px) and (max-width: 1300px) and (min-height: 501px) and (max-height: 700px) {
  html {
    font-size: 13px !important;
  }
}
@media screen and (min-width: 1101px) and (max-width: 1300px) and (min-height: 701px) and (max-height: 900px) {
  html {
    font-size: 13px !important;
  }
}
@media screen and (min-width: 1101px) and (max-width: 1300px) and (min-height: 901px) {
  html {
    font-size: 13px !important;
  }
}
@media screen and (min-width: 1301px) and (max-width: 1500px) and (max-height: 300px) {
  html {
    font-size: 15px !important;
  }
}
@media screen and (min-width: 1301px) and (max-width: 1500px) and (min-height: 301px) and (max-height: 500px) {
  html {
    font-size: 15px !important;
  }
}
@media screen and (min-width: 1301px) and (max-width: 1500px) and (min-height: 501px) and (max-height: 700px) {
  html {
    font-size: 15px !important;
  }
}
@media screen and (min-width: 1301px) and (max-width: 1500px) and (min-height: 701px) and (max-height: 900px) {
  html {
    font-size: 15px !important;
  }
}
@media screen and (min-width: 1301px) and (max-width: 1500px) and (min-height: 901px) {
  html {
    font-size: 15px !important;
  }
}
@media screen and (min-width: 1501px) and (max-height: 300px) {
  html {
    font-size: 16px !important;
  }
}
@media screen and (min-width: 1501px) and (min-height: 301px) and (max-height: 500px) {
  html {
    font-size: 16px !important;
  }
}
@media screen and (min-width: 1501px) and (min-height: 501px) and (max-height: 700px) {
  html {
    font-size: 16px !important;
  }
}
@media screen and (min-width: 1501px) and (min-height: 701px) and (max-height: 900px) {
  html {
    font-size: 16px !important;
  }
}
@media screen and (min-width: 1501px) and (min-height: 901px) {
  html {
    font-size: 16px !important;
  }
}

/*# sourceMappingURL=style.css.map */
